<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hroa.dao.JobinfoDao" >
  <resultMap id="BaseResultMap" type="com.hroa.model.Jobinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="required" property="required" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="VARCHAR" />
    <result column="more_salary" property="moreSalary" jdbcType="DECIMAL" />
    <result column="unit" property="unit" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="details" property="details" jdbcType="VARCHAR" />
    <result column="link_man" property="linkMan" jdbcType="VARCHAR" />
    <result column="link_phone" property="linkPhone" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="classify" property="classify" jdbcType="VARCHAR" />
    <result column="is_finish" property="isFinish" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hroa.model.Jobinfo" extends="BaseResultMap" >
    <result column="describes" property="describes" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, c_id, job, cover, label, required, number, date, salary, more_salary, unit, city, 
    province, region, details, link_man, link_phone, type, classify, is_finish
  </sql>
  <sql id="Blob_Column_List" >
    describes
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hroa.model.JobinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jobinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hroa.model.JobinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jobinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jobinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jobinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hroa.model.JobinfoExample" >
    delete from jobinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hroa.model.Jobinfo" >
    insert into jobinfo (id, c_id, job, 
      cover, label, required, 
      number, date, salary, 
      more_salary, unit, city, 
      province, region, details, 
      link_man, link_phone, type, 
      classify, is_finish, describes
      )
    values (#{id,jdbcType=INTEGER}, #{cId,jdbcType=INTEGER}, #{job,jdbcType=VARCHAR}, 
      #{cover,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{required,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, #{salary,jdbcType=VARCHAR}, 
      #{moreSalary,jdbcType=DECIMAL}, #{unit,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR}, 
      #{linkMan,jdbcType=VARCHAR}, #{linkPhone,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{classify,jdbcType=VARCHAR}, #{isFinish,jdbcType=INTEGER}, #{describes,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hroa.model.Jobinfo" >
    insert into jobinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="required != null" >
        required,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="moreSalary != null" >
        more_salary,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="linkMan != null" >
        link_man,
      </if>
      <if test="linkPhone != null" >
        link_phone,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="classify != null" >
        classify,
      </if>
      <if test="isFinish != null" >
        is_finish,
      </if>
      <if test="describes != null" >
        describes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="required != null" >
        #{required,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=VARCHAR},
      </if>
      <if test="moreSalary != null" >
        #{moreSalary,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null" >
        #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=VARCHAR},
      </if>
      <if test="isFinish != null" >
        #{isFinish,jdbcType=INTEGER},
      </if>
      <if test="describes != null" >
        #{describes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hroa.model.JobinfoExample" resultType="java.lang.Integer" >
    select count(*) from jobinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jobinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.job != null" >
        job = #{record.job,jdbcType=VARCHAR},
      </if>
      <if test="record.cover != null" >
        cover = #{record.cover,jdbcType=VARCHAR},
      </if>
      <if test="record.label != null" >
        label = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.required != null" >
        required = #{record.required,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.salary != null" >
        salary = #{record.salary,jdbcType=VARCHAR},
      </if>
      <if test="record.moreSalary != null" >
        more_salary = #{record.moreSalary,jdbcType=DECIMAL},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=INTEGER},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null" >
        region = #{record.region,jdbcType=VARCHAR},
      </if>
      <if test="record.details != null" >
        details = #{record.details,jdbcType=VARCHAR},
      </if>
      <if test="record.linkMan != null" >
        link_man = #{record.linkMan,jdbcType=VARCHAR},
      </if>
      <if test="record.linkPhone != null" >
        link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.classify != null" >
        classify = #{record.classify,jdbcType=VARCHAR},
      </if>
      <if test="record.isFinish != null" >
        is_finish = #{record.isFinish,jdbcType=INTEGER},
      </if>
      <if test="record.describes != null" >
        describes = #{record.describes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update jobinfo
    set id = #{record.id,jdbcType=INTEGER},
      c_id = #{record.cId,jdbcType=INTEGER},
      job = #{record.job,jdbcType=VARCHAR},
      cover = #{record.cover,jdbcType=VARCHAR},
      label = #{record.label,jdbcType=VARCHAR},
      required = #{record.required,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=INTEGER},
      date = #{record.date,jdbcType=VARCHAR},
      salary = #{record.salary,jdbcType=VARCHAR},
      more_salary = #{record.moreSalary,jdbcType=DECIMAL},
      unit = #{record.unit,jdbcType=INTEGER},
      city = #{record.city,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      region = #{record.region,jdbcType=VARCHAR},
      details = #{record.details,jdbcType=VARCHAR},
      link_man = #{record.linkMan,jdbcType=VARCHAR},
      link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      classify = #{record.classify,jdbcType=VARCHAR},
      is_finish = #{record.isFinish,jdbcType=INTEGER},
      describes = #{record.describes,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jobinfo
    set id = #{record.id,jdbcType=INTEGER},
      c_id = #{record.cId,jdbcType=INTEGER},
      job = #{record.job,jdbcType=VARCHAR},
      cover = #{record.cover,jdbcType=VARCHAR},
      label = #{record.label,jdbcType=VARCHAR},
      required = #{record.required,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=INTEGER},
      date = #{record.date,jdbcType=VARCHAR},
      salary = #{record.salary,jdbcType=VARCHAR},
      more_salary = #{record.moreSalary,jdbcType=DECIMAL},
      unit = #{record.unit,jdbcType=INTEGER},
      city = #{record.city,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      region = #{record.region,jdbcType=VARCHAR},
      details = #{record.details,jdbcType=VARCHAR},
      link_man = #{record.linkMan,jdbcType=VARCHAR},
      link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      classify = #{record.classify,jdbcType=VARCHAR},
      is_finish = #{record.isFinish,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hroa.model.Jobinfo" >
    update jobinfo
    <set >
      <if test="cId != null" >
        c_id = #{cId,jdbcType=INTEGER},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="required != null" >
        required = #{required,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=VARCHAR},
      </if>
      <if test="moreSalary != null" >
        more_salary = #{moreSalary,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null" >
        link_man = #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        link_phone = #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        classify = #{classify,jdbcType=VARCHAR},
      </if>
      <if test="isFinish != null" >
        is_finish = #{isFinish,jdbcType=INTEGER},
      </if>
      <if test="describes != null" >
        describes = #{describes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hroa.model.Jobinfo" >
    update jobinfo
    set c_id = #{cId,jdbcType=INTEGER},
      job = #{job,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      required = #{required,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=VARCHAR},
      more_salary = #{moreSalary,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR},
      link_man = #{linkMan,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      classify = #{classify,jdbcType=VARCHAR},
      is_finish = #{isFinish,jdbcType=INTEGER},
      describes = #{describes,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hroa.model.Jobinfo" >
    update jobinfo
    set c_id = #{cId,jdbcType=INTEGER},
      job = #{job,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      required = #{required,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=VARCHAR},
      more_salary = #{moreSalary,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR},
      link_man = #{linkMan,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      classify = #{classify,jdbcType=VARCHAR},
      is_finish = #{isFinish,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>