<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hroa.dao.UserSignDao" >
  <resultMap id="BaseResultMap" type="com.hroa.model.UserSign" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="DATE" />
    <result column="signtime" property="signtime" jdbcType="TIME" />
    <result column="area" property="area" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, name, day, signtime, area
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_sign
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getUserSign" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from user_sign
    where day=#{0} and userid=#{1}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_sign
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hroa.model.UserSign" >
    insert into user_sign (id, userid, name, 
      day, signtime, area)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{day,jdbcType=DATE}, #{signtime,jdbcType=TIME}, #{area,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hroa.model.UserSign" >
    insert into user_sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="signtime != null" >
        signtime,
      </if>
      <if test="area != null" >
        area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=DATE},
      </if>
      <if test="signtime != null" >
        #{signtime,jdbcType=TIME},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hroa.model.UserSign" >
    update user_sign
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=DATE},
      </if>
      <if test="signtime != null" >
        signtime = #{signtime,jdbcType=TIME},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hroa.model.UserSign" >
    update user_sign
    set userid = #{userid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      day = #{day,jdbcType=DATE},
      signtime = #{signtime,jdbcType=TIME},
      area = #{area,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>